.wrap {
  min-height: 100vh;
  background: #efefef; /* світло-сіре полотно як на макеті */
  padding: 40px;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 40px;
}

// .main {
//   /* сюди кладеш топбар і весь контент дашборда */
// }