@use "../../styles/abstracts/variables" as *;
@use "../../styles/index.scss";

.app {
  @include index.theme(index.$light-theme);
  .header {
    background-color: var(--layout-header-bg);
    border-bottom: 1px solid var(--sb-accent-soft-l);
    height: $header-height;
  }
}

.app[data-theme="dark"] {
  @include index.theme(index.$dark-theme);
}
