@use "../styles/abstracts/variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Full screen
  min-width: min-content; // Correcting the width in lower screens
  background: #efefef;

  &-main {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
  }
}
