@use "../styles/abstracts/variables" as *;

.layout {
  min-height: 100vh;
  background: #efefef;
  &-main {
    display: flex;
    max-width: 100%;
    height: calc(
      100vh - $header-height
    ); // Breaks the web interface in project part
  }
  &-right {
    max-width: 100%;
  }
}
