@use "./variables";

@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
@mixin inter-family($size: 14px, $weght: 400) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weght;
  font-style: normal;
  font-size: $size;
}
@mixin button-black() {
  background-color: variables.$bg-dark;
  @include inter-family(14px, 400);
  font-weight: 400;
  @include inter-family;
}
@mixin button-white() {
  background-color: #fff;
  @include inter-family(14px, 400);
  color: variables.$sb-accent-l;
  border: 1px solid variables.$sb-shadow;
  font-weight: 400;
  @include inter-family;
}
