@use "./variables";
@use "./themes";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  @include themes.theme(themes.$light-theme);
}
.app[data-theme="dark"] {
  @include themes.theme(themes.$dark-theme);
}
@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
@mixin inter-family($size: 14px, $weight: 400) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
}
@mixin button-black() {
  background-color: var(--sb-accent-l);
  color: var(--main-bg);
  @include inter-family(14px, 400);
  font-weight: 400;
  @include inter-family;
  text-transform: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
  &:hover {
    background-color: (var(--font-color));
  }
}
@mixin button-white() {
  background-color: var(--main-bg);
  color: var(--sb-accent-l);
  border: 1px solid var(--border-color);
  @include inter-family(14px, 400);
  font-weight: 400;
  text-transform: none;
  transition: background-color 0.2s ease, transform 0.1s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
