@use "../../styles/abstracts/variables" as *;
@use "../../styles/index.scss";

.app {
  @include index.theme(index.$light-theme);
  .sidebar {
    &__wrapper {
      width: 280px;
      background: var(bg-l);
      padding-bottom: 14px;
      box-shadow: var(sb-shadow);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__nav {
      display: grid;
    }

    &__item {
      position: relative;
      display: grid;
      grid-template-columns: 28px 1fr;
      align-items: center;
      gap: 7px;

      padding: 15px;

      color: #6b7280;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      text-decoration: none;
      transition: background 0.15s ease, color 0.15s ease, box-shadow 0.15s ease;

      &:hover {
        background: #f3f5f7;
      }
    }
    &__icon {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__label {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }

  .active {
    background: var(sb-accent-soft-l);
    color: var(sb-accent-l);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      width: 4px;
      height: 100%;
      background: var(sb-accent-l);
    }
  }
  .active .sidebar__icon {
    color: var(sb-accent-l);
  }
}

.app[data-theme="dark"] {
  @include index.theme(index.$dark-theme);
}
